#wrap{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#nav{
    border: 1px solid pink;
}
#content{
    border: 1px solid pink;
    text-align: center;


}
.copyright{
    place-items: center start;
    text-align: center;
}