div{
    border: 2px solid black;
    height: 100px;
    margin-bottom: 5px;
}
.red{
    background-color: red;
    width:30%;
    float: left;
}
.blue{
    background-color: blue;
    width: 69%;
    float: right;
}
.yellow{
    background-color: yellow;
    width: 99.75%;
    float:left;
}